@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
#nav-highlight {
  color: rgb(107 114 128);
}

#nav-highlight li a {
  display: block;
  border-left: 2px solid rgb(107 114 128);
  padding: 0.75rem;
}

#nav-highlight li a.active {
  color: #58a6ff;
  font-weight: bold;
  background-color: #2e3c52;
  border-color: #58a6ff;
  transition: all 0.3s;
}

#nav-highlight.active {
  opacity: 1;
  transition: all 0.3s;
}
